<div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent">
        <div class="loginOptionsMainContent">
            <h2><%- lang('loginOptions.loginOptionsTitle') %></h2>
            <div class="loginOptionActions">
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMicrosoft" class="loginOptionButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 23 23">
                            <path fill="#f35325" d="M1 1h10v10H1z" />
                            <path fill="#81bc06" d="M12 1h10v10H12z" />
                            <path fill="#05a6f0" d="M1 12h10v10H1z" />
                            <path fill="#ffba08" d="M12 12h10v10H12z" />
                        </svg>
                        <span><%- lang('loginOptions.loginWithMicrosoft') %></span>
                    </button>
                </div>
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMojang" class="loginOptionButton">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="22.000000pt" height="22.000000pt"
                            viewBox="0 0 56.000000 56.000000" preserveAspectRatio="xMidYMid meet">
                            <metadata>
                                Created by potrace 1.16, written by Peter Selinger 2001-2019
                            </metadata>
                            <g transform="translate(0.000000,56.000000) scale(0.100000,-0.100000)" fill="#db2331"
                                stroke="none">
                                <path d="M120 530 c0 -27 -3 -30 -30 -30 -27 0 -30 -3 -30 -30 0 -27 -3 -30
-30 -30 l-30 0 0 -100 0 -100 30 0 c27 0 30 -3 30 -30 0 -27 3 -30 30 -30 27
0 30 -3 30 -30 0 -27 3 -30 30 -30 27 0 30 -3 30 -30 0 -27 3 -30 30 -30 27 0
30 -3 30 -30 0 -28 2 -30 40 -30 38 0 40 2 40 30 0 27 3 30 30 30 27 0 30 3
30 30 0 27 3 30 30 30 27 0 30 3 30 30 0 27 3 30 30 30 27 0 30 3 30 30 0 27
3 30 30 30 l30 0 0 100 0 100 -30 0 c-27 0 -30 3 -30 30 0 27 -3 30 -30 30
-27 0 -30 3 -30 30 l0 30 -65 0 -65 0 0 -30 c0 -27 -3 -30 -30 -30 -27 0 -30
3 -30 30 l0 30 -65 0 -65 0 0 -30z" />
                            </g>
                        </svg>
                        <span><%- lang('loginOptions.loginWithPirata') %></span>
                    </button>
                </div>
            </div>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton"><%- lang('loginOptions.cancelButton') %></button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>